
/* =============================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'lubalin-stencil';
    src: url('fonts/lubalin-stencil.eot');
    src: url('fonts/lubalin-stencil.eot?#iefix') format('embedded-opentype'),
         url('fonts/lubalin-stencil.woff') format('woff'),
         url('fonts/lubalin-stencil.ttf') format('truetype'),
         url('fonts/lubalin-stencil.svg#lubalin-stencil') format('svg');
    font-weight: normal;
    font-style: normal;

}	 

@font-face {
    font-family: 'avenir_85';
    src: url('fonts/avenir85heavy-webfont.eot');
    src: url('fonts/avenir85heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir85heavy-webfont.woff') format('woff'),
         url('fonts/avenir85heavy-webfont.ttf') format('truetype'),
         url('fonts/avenir85heavy-webfont.svg#AvenirLTW0185HeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir_45';
    src: url('fonts/avenir45book-webfont.eot');
    src: url('fonts/avenir45book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir45book-webfont.woff') format('woff'),
         url('fonts/avenir45book-webfont.ttf') format('truetype'),
         url('fonts/avenir45book-webfont.svg#AvenirLTW0145BookRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenir_95';
    src: url('fonts/avenir95black-webfont.eot');
    src: url('fonts/avenir95black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir95black-webfont.woff') format('woff'),
         url('fonts/avenir95black-webfont.ttf') format('truetype'),
         url('fonts/avenir95black-webfont.svg#AvenirLTW0195BlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{ font-family: 'avenir_45', helvetica, arial, sans-serif; }
.avenir_85{ font-family:'avenir_85', helvetica, arial, sans-serif; }
.avenir_95{ font-family:'avenir_95', helvetica, arial, sans-serif; }

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; outline:0; }
a:visited { color: #551a8b; outline:0; }
a:hover { 
  color: #06e; 

  -webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out; 

}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1, h2, h3, h4, h5, h6, p{ color:#ffffff; font-weight:normal; }
h1{ font-size:16px; }
p{ font-size: 12px; margin:11px; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Layout ========================================================
   Author:
   ========================================================================== */

#intro{ height:1500px; overflow:hidden; position:relative;}

#container{ width:1000px; margin:30px auto; position:relative; }

.row {
  margin: 8px 8px 0;
  *zoom: 1;
}
#arrival .row:first-child, .search_section .row:first-child{ padding-top:8px; }
#beach .row:last-child, .search_section .row:last-child{ padding-bottom: 8px; }
/*section:last-child{ padding-bottom:1px; margin-bottom:8px; }*/

.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  margin-left:11px;
  overflow:hidden;
  position:relative;
}

[class*="span"]:first-child {
  margin-left:0;
}

.span_intro{ width:984px; }
.span_a{ width:984px; height: 384px; }
.span_b{ width:576px; height: 384px; }
.span_c{ width:397px; height: 384px; }
.span_d{ width:984px; height: 275px; }
.span_e{ width:397px; height: 275px; }
.span_f{ width:576px; height: 275px; }
.span_g{ width:984px; height: 425px; }
.span_v{ width:984px; height: 553px; background:#ffffff; }
.span_b_v{ width:576px; height: 324px; }
.span_c_v{ width:397px; height: 324px; }


/*img{ width:100%; }*/

/* ===== Lookbook Styles ========================================================
   Author:
   ========================================================================== */

body.home{  }
a, a > span{ text-decoration:none; font-family: 'avenir_85', helvetica, arial, sans-serif; }

/**
* Nav
*/
.home nav{ 
  display:none; position:fixed; top:62px; right:50%; 
  margin-right: -470px; padding:21px 0 5px 200px; z-index:999; 
}
.home nav ul#main_nav_ul{ position:relative; width:24px; height: 428px; display:block; padding:0 2px; }
.home nav ul#main_nav_ul li{ 
  position:absolute; width:24px; height:1px; margin-top:1px; display:block; 
}
.home nav ul#main_nav_ul li p{ 
  position:absolute; z-index:1; display:none;
  font-family:arial, helvetica, sans-serif; font-size:38px; line-height:38px; margin-top:-28px;  
}
.home nav ul#main_nav_ul li.first p{ top:21px; }
.home nav div#indicator{ 
  width:24px; z-index:999; height:8px; margin-top:-2px; margin-left:-2px; top: 0; position:absolute;
  background:transparent; display:none;
}
.home nav #tooltip{ 
  display:none; padding:0 24px;  position:absolute; top:0; right:0; 
  z-index:-1; cursor:pointer; height:18px; line-height:18px;
}
.home nav #tooltip p{ margin:0; padding:0; }

.home nav div.nav_section{ position:relative; }

.home nav #nav_search{ cursor:pointer; position:relative; }
.home nav #nav_search img{ margin:0 2px; }

#search_flyout{ display:none; width: 155px; position:absolute; right:1px; top:0; z-index:-1; }
#search_flyout ul{ padding:0 8px 8px 8px; }
#search_flyout ul:first-child{ padding-top:8px; }
#search_flyout li{ height:14px; }  
#search_flyout a{ font-family: 'avenir_45', helvetica, arial, sans-serif; text-transform:uppercase; font-size:14px;}
#search_flyout a.heading{ font-family: 'avenir_85', helvetica, arial, sans-serif; }

/**
* Text blocks and Product callouts
*/
#intro h2, #intro h2 span{ 
	font-family:'lubalin-stencil', 'Times', serif; 
	text-transform:uppercase;
	line-height:10px;
  text-indent:-9999px;
  background:url(images/logo.png) no-repeat;
  height:104px;
}
/*
#intro h2 span{
	font-size:24px; 
	line-height:20px;
}
*/
.text_block h1, .product_callout h1, .text_block h2, .product_callout h2, .text_block h3, .product_callout h3, .info_callout h3{ 
  font-family: 'avenir_85', helvetica, arial, sans-serif; font-size: 12px; margin: 26px 11px 0; 
}
.copy_wrapper h3{ margin-top:0; }

.text_block.no_heading p:first-child, .product_callout.no_heading p:first-child, .info_callout.no_heading p:first-child, .info_callout p.no_heading, .copy_wrapper{ margin-top:22px; }
.text_block p:last-child, .product_callout p:last-child, .info_callout p:last-child{ margin-bottom:22px; }

.text_block{ width:300px; position:absolute; }
.chapter .text_block{ top:33px; left:33px; }
#intro .text_block{ left:33px; bottom:60px; display:none; }

.product_callout, .info_callout{ width:22px; height:22px; position:absolute; z-index:1001; }

.product_callout h3, .product_callout p, .product_callout .button, 
.info_callout h3, .info_callout p, .info_callout .button{ 
  display:none; 
}

.product_callout p{ margin-top: 4px; }
.product_callout h6, .info_callout h6{ 
  display:block; font-size:18px; font-family: 'avenir_85', helvetica, arial, sans-serif; line-height:22px; 
  padding:0; margin:0; cursor:pointer; width:22px; position:absolute; top:0;
}
.product_callout h6 span, .info_callout h6 span{ display:none; width:22px; text-align:center; display:block; }
.product_callout h6 span.open_button, .info_callout h6 span.info_button{ display:block; }
.product_callout h6 span.close_button, .info_callout h6 span.close_button{ display: none; font-size:15px;}

.round_btn{ 
  -webkit-border-radius: 16px;
          border-radius: 16px;
          
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
 }

/**
* Shop and Share buttons
*/

.product_callout .button, #search .button{ 
  text-transform:uppercase; height:22px; position:absolute; 
  text-indent: 5px; line-height:22px; font-size:16px; cursor:pointer; padding-right:22px;
}
.product_callout .shop_button{ top:0; left:235px; }
.product_callout .share_button{ top:24px; left:235px; }

.product_callout .button:after, #search .button:after{
  content:"";width:1px; height:1px; margin:5px;
  display:block; position:absolute; bottom:0; right:0; 
}

/**
* Color swatch area
*/
.color_wrapper{ margin-top:11px; display:block; visibility:hidden; }
.color_wrapper p{ margin-bottom:0; }
.color_swatches{ height:22px; margin:11px; margin-top:0; display:block; }
.color_swatches div.color{ float:left; display:block; height: 22px; width: 22px; margin-right:8px; }

/**
* Pan image
*/
.pan_image{ display:block; position:absolute; }

#arrival .pan_image{ top: -250px; }
#boatshop .pan_image{ left: -156px; }

.anim_gif{ display:none; }

/* =============================================================================
   Search page
   ========================================================================== */

#search #container{ margin-top:0; }
#search header{ width:984px; margin:11px auto 0; position:relative; overflow:hidden; }

#search .span_product{ width:237px; } 
#search .footwear .span_product{ height: 460px; }
#search .search_product_detail{ position:absolute; bottom:0; height:100px; width:100%; z-index:2; }
#search .search_product_detail img{ position:absolute; bottom:0; z-index:-1; }

#search #right_links{ position:absolute; bottom:16px; right:16px; }
#search #lookbook_link{ position:relative; height:22px; width:22px; display:block; }

#search #lookbook_link:after{
  content:"";width:1px; height:1px; margin:5px;
  display:block; position:absolute; bottom:0; right:0; 
}

#search h1, #search h1 span{ 
	font-family:'lubalin-stencil', 'Times', serif; 
	text-transform:uppercase;
}
#search h1{ font-size:16px; line-height:14px; float:left; }

#search nav{ float:left; clear:left; width:100%; }

#search nav li{ float:left; width:100px; }

#search nav li a{ text-transform:uppercase; font-size:18px; }
#search nav ul.sub_menu a{ font-size:14px; }

#search nav ul.top_menu{ height:50px; float:left; position:relative; width:100%; }

#search nav ul.sub_menu{ height:25px; position:absolute; bottom:0; left:0; display:none; }

#search nav ul.top_menu > li.active ul.sub_menu{ display:block; }

#search h3{ font-family: 'avenir_85', helvetica, arial, sans-serif; font-size: 16px; line-height:20px; margin: 11px 11px 0; }
#search p{ font-size: 16px; line-height:20px; margin: 0 11px; }

#search .shop_button{ top:0; left:0; height:30px; z-index:-2; }
#search .share_button{ top:0; left:82px; height:30px; z-index:-2; }

#search .h2t_detail{ width:235px; height:425px; }

#search .h2t_left{ float:left; }

#search .h2t_right{ float:right; }

#search img.h2t_img{ float:left; }

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) {
  
  .row{ 
    margin-top:0;
   }
  [class*="span"] {
    width:98%;
    margin-top:1%;
  }

/*
  .height1{ height: 137.5px }
  .height2{ height: 192px }
  .height3{ height: 212.5px }
  .height4{ height: 277.5px }

  img{ height:100% }
*/  
  
  .mobile_hide{ display:none; }
  
  /* Responsive style for timberframe */
  #globalNav #thumbWrap{ display:none; } 
  #globalNav ul.vertical-nav{ margin-left:10px; }
  #globalFooter #footerContent{ width:100%; }
  #globalFooter .footerLinks{ margin-top:8px; }
  #globalFooter .footerSocial{ margin-left:8px; }
  #globalFooter div.footerRight{ float:left; clear:left; margin-top:8px; margin-left:8px; }
  /*
  #globalNavBottom { width:100%; }
  #globalNav .globalNavContent{ width:100%;height:auto; }
  #globalNav ul.vertical-nav{ margin-left:10px; width:100%; clear:left;}
  #globalNav ul.vertical-nav li{ height:auto; width:100%; clear:left;}
  #globalNav ul.vertical-nav a{ height:auto; width:100%; clear:left;}
  */
  
}

/* Large desktop */
@media (min-width: 1280px) {

}

@media (min-height:750px) {

}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
