//=============================================================
// MASTHEAD MODULE
//=============================================================
.m-masthead{

  h1{
    margin-bottom: rem(17);
    margin-top: 0;
  } 

  .m-masthead__alerts{
    background: $white; 
    display: inline-block;
  }

  .m-masthead__address{ 
    background-color: $white;
    display: inline-block;
    font-family: $body_font;
    font-size: rem(15); 
    min-width: 800px; //the actual width is set by js
    text-align: center;
    @include blue_links; 
    @include centerer; 
    @include mq('sm'){ font-size: rem(12px); line-height: rem(14px); }
    @include mq('xs'){ 
      font-size: rem(10px); line-height: rem(12px); max-width: 280px; min-width: 80%;   
      > span{ max-width: 280px; display: inline-block; }
    }
  }

  .m-masthead__center-stars{
    background: $white;
    @include centerer;
  }

  .m-masthead__stars{
    margin-top: 0;
    text-align: right; 
  }

  .m-masthead__topline{
    color: $blue;
    display: block;
    font-size: rem(20);
    line-height: rem(20);
    margin: 0 0 rem(5);
    text-align: center;
    @include mq('md'){ font-size: rem(15px); line-height: rem(17px); }
    @include mq('sm'){ font-size: rem(12px); line-height: rem(12px); }

  }

  .m-masthead__headline{
    color: $dark_blue;
    display: block;
    font-size: rem(48);
    line-height: rem(48);
    margin-bottom: rem(8);
    text-align: center;
    text-transform: uppercase;

    a{ 
      color: $dark_blue; 
      text-decoration: none;
    }

    @include mq('sm'){ font-size: rem(25px); line-height: rem(27px); margin-top: rem(11); }
    @include mq('xs'){ font-size: rem(16px); line-height: rem(16px); }
  }

  .m-masthead__social{ 
    background: $white;
    right: 0;

    > .m-social-icon{ margin-left: 5px; }

    @include vert_center;
    //responsive rules
    @include mq('sm'){display: none;}
  }

}

