body{ margin:0;overflow:hidden;  }
.no-touch body{ background:#000; }
h1, h2, h3, h4, h5, h6, p{ color:#000000; }
#treemsWrap{ max-width:100%; }
#treemsAjax{ max-width:100%; margin-left:0; }

.container{ position:relative; }
.top-spacer{ height:300px; }
.bottom-spacer{ height:0; }

/* Logo at beginning */
h1#tagline{ 
    font-size:30px; line-height:50px; color:#fff;position:relative; top:2%;
    text-transform:uppercase; padding-top:10px; font-family:'Semplicita Bold'; text-align:center; left:120px;
} 
.top-spacer img{ position:relative; top:2%; margin:0 auto; display:block; left:120px;}
#scroll-down-btn{ cursor:pointer; margin:0px; opacity:0.85; top:auto; position:absolute; left:50%; margin-left:100px; bottom:75px; }
#scroll-down-btn:hover{ opacity: 1; }
.marker{ height:1px; }

section{ overflow:hidden; }
.content-block{ max-width:1250px; position:relative; margin:0 auto; } 

.bg_wrap{ width:100%; top:0; left:0; z-index:-1; overflow:hidden; }
.bg{ position:relative; top:60px;  z-index:-1;  display:block; }
#city1_bg, #gas3_bg{ margin-left:0 !important; }


#city1_bg{ z-index:-1; background:transparent no-repeat; }
#city2_bg{  z-index:-2; background:transparent no-repeat; }
#city3_bg{  z-index:-3; background:transparent no-repeat; }
#city4_bg{  z-index:-4; background:transparent no-repeat; }
#city5_bg{  z-index:-5; background:transparent no-repeat;  }
#city6_bg{  z-index:-6; background:transparent no-repeat;  }
#gas1_bg{ z-index:-7;  background:transparent no-repeat;  }
#gas2_bg{ z-index:-8;  background:transparent no-repeat;  }
#gas3_bg{ z-index:-9;  background:transparent no-repeat;  }
#gas4_bg{ z-index:-10;  background:transparent no-repeat;  }
#gas5_bg{ z-index:-11;  background:transparent no-repeat;  }
#gas6_bg{ z-index:-12;  background:transparent no-repeat;  }
#dock1_bg{ z-index:-13;  background:transparent no-repeat;  }
#dock2_bg{ z-index:-14;  background:transparent no-repeat;  }
#dock3_bg{ z-index:-15;  background:transparent no-repeat;  }
#dock4_bg{ z-index:-16;  background:transparent no-repeat;  }
#beach0_bg{ z-index:-18;  background:transparent no-repeat;  }
#beach1_bg{ z-index:-17;  background:transparent no-repeat;  }
#beach2_bg{ z-index:-19;  background:transparent no-repeat;  }
#beach3_bg{ z-index:-20;  background:transparent no-repeat;  }
#beach4_bg{ z-index:-21;  background:transparent no-repeat;  }



/************************************************************************** 
 *
 * Section Headers 
 *
 *************************************************************************/

.section-header{ background:rgba(255,255,255,0.9); width:450px; position:relative; margin:0 auto; left:120px;  }
.section-header h1{ 
    font-size:30px; line-height:70px; color:#111;  
    text-transform:uppercase; width:90%; margin-left:5%; padding-top:10px;
    font-family:'Semplicita Bold'; text-align:center; border-bottom:double rgba(0,0,0,0.4);
}
.section-header p{ font-size:15px; line-height:32px; color:#111; padding-bottom:20px; padding-top:5px; font-family:'Semplicita Medium'; width:90%; margin-left:5%;}
.section-header img{ width:90%; margin-left:5%; margin-bottom:30px;  }



/************************************************************************** 
 *
 * Accordion 
 *
 *************************************************************************/
.accordion{ background:#fff; width:360px; margin-top:20px; position:relative; left:240px; box-shadow:1px 0 5px rgba(0,0,0,0.35);  }
.accordion h3{ font-size:15px; line-height:20px; margin:0 3%; border-top:1px solid #bfc2c8; text-transform:uppercase; padding:3% 0; }
.accordion h3:first-child{ border-top:none; }
.accordion h3 a{ text-decoration:none; color:#574f4B; font-family:'Semplicita Bold';}
.accordion div{ margin-top:-12px; position:relative; }
.accordion p{ color:#574f4b; text-transform:uppercase; margin:0 3%;}
.accordion p.shoe-stats{ font-family:'Semplicita Medium'; font-size:13px; }
.accordion p.price{ font-family:'Semplicita Bold'; font-size:13px; color:#C26408; }
.accordion img{ margin:3% auto; display:block;  }
.accordion img.lifestyle{ width:94%; }
.accordion img.product{ width:240px; }
.accordion div.social-wrap{ position:relative; height:40px; margin-top:0; margin-left:10px;  }
 

.accordion-icon-open, .accordion-icon-closed{background:url('images/accordion-plus-minus-sprite.png') no-repeat; display:block; height:15px; width:15px; float:right; cursor:pointer; margin-left:5px; margin-top:3px;}
.accordion-icon-closed{background-position:0 0;}
.accordion-icon-closed{background-position:0 -20px;}
.stButton .stLarge{ height:31px !important; }
.stButton .stLarge:hover{ background-position:initial !important; }
.stButton img{ display:none !important; }

/************************************************************************** 
 *
 * Other Content Blocks 
 *
 *************************************************************************/
img.cinemagraph{ width:340px; padding:10px; background:#fff; left:240px; display:block; position:relative; }
#easter-egg{ width:900px; padding:10px;  overflow:hidden; }
#easter-egg .yt_wrap{ float:left; width:65%; }
#easter-egg #contact-info{ float:left; width:35%; }
#easter-egg h1{ font-size:20px; line-height:30px; }

/************************************************************************** 
 *
 * TBL Global Edits 
 *
 *************************************************************************/
#treemsWrap #nav-wrap{ position:relative; margin:0 auto; max-width:1250px; }
#tblGlobalFooter{ margin-top:0;  }

#tblGlobalNav{ box-shadow:0 1px 8px 1px rgba(0,0,0,0.4);}


/************************************************************************** 
 *
 * Touch Devices 
 *
 *************************************************************************/
.touch .bg{ top:0; }

/************************************************************************** 
 *
 * Tablet and down 
 *
 *************************************************************************/
@media only screen
and (max-width: 1024px){
    img.cinemagraph, .accordion, .section-header{ left:0;  }
    section{ margin-left:0; }
    .bg{ top:45px; }
    .top-spacer img{ left:0; }
    .top-spacer img#masthead{ width:96%; margin:0 auto; max-width:750px;  }
    h1#tagline{ left:0; }
    #scroll-down-btn{ margin-left:-22px; }
}

/************************************************************************** 
 *
 * Portrait Tablet
 *
 *************************************************************************/
@media only screen
and (max-width: 768px)
and (min-width: 481px){ 
    .bg{ margin-left:-300px; } 
    #easter-egg{ width:450px; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }

}

/************************************************************************** 
 *
 * Landscape phones and down 
 *
 *************************************************************************/
@media only screen
and (max-width: 480px){
    .bg{ box-shadow:none; }
    .accordion{ width:96%; margin-left:2%; left:0; }
    img.cinemagraph{ width:92%; margin-left:2%; padding:2%; }
    .accordion h3{ font-size:15px; line-height:20px; }
    #scroll-down-btn{ margin-top:10px; }
    h1#tagline{ font-size:16px; line-height:20px; } 
    #easter-egg{ width:450px; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }

}

/************************************************************************** 
 *
 * Portrait phones 
 *
 *************************************************************************/
@media only screen
and (max-width: 320px){
    .bg{ margin-left:-150px; }
    .section-header{ width:96%; margin-left:2%; }
    #easter-egg{ width:96%; margin-left:2%; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }

}

