body{ margin:0;  }
.no-touch body{ background:#000; }
h1, h2, h3, h4, h5, h6, p{ color:#000000; }
#treemsWrap{ max-width:100%; }
#treemsAjax{ max-width:100%; margin-left:0;}
#supawrap{ visibility:hidden; }
a{ color:#444; text-decoration:none; }
a:hover{ color:#000; }
a:visited{ color:#444; }

.easeinout{ 
  -webkit-transition: all 0.75s ease-in-out; 
     -moz-transition: all 0.75s ease-in-out; 
       -o-transition: all 0.75s ease-in-out; 
          transition: all 0.75s ease-in-out; 
}
#loader{ display:block; position:fixed; top:50%; left:50%; margin-left:85px; margin-top:-45px; }
.container{ position:relative; }
.top-spacer{ height:300px; }
.bottom-spacer{ height:0; }

/* Logo at beginning */
h1#tagline{ 
    font-size:30px; line-height:50px; color:#fff;position:relative; top:5%;
    text-transform:uppercase; font-family:'ITC Lubalin Graph Medium', 'Microsoft JhengHei', Georgia, serif; text-align:center; left:120px;
} 

.top-spacer #text-masthead, .top-spacer img{ position:relative; top:1%; margin:0 auto; display:block; left:120px;}

.top-spacer #text-masthead{ width:100%; text-align:center; width:860px;  }
#text-masthead h1,#text-masthead h2, #text-masthead h3{ color:#fff; text-transform:uppercase; } 
#text-masthead h1{ font-size:80px; line-height: 130px; border-top:1px solid #fff; border-bottom: 1px solid #fff; }
#text-masthead h2{ font-size:40px; line-height:75px; border-bottom:1px solid #fff; font-family:'lubalin-stencil', 'Microsoft JhengHei', serif; letter-spacing:2px; }
#text-masthead h3{ font-size:30px; line-height:55px; border-bottom:1px solid #fff; }

#scroll-down-btn{ cursor:pointer; margin:0px; opacity:0.6; top:auto; position:fixed; left:50%; margin-left:100px; bottom:2%; z-index:1; }
#scroll-down-btn:hover{ opacity: 1; }
.marker{ height:1px; }
#supawrap.tw #scroll-down-btn{ height:44px; width:44px; background:rgba(0,0,0,0.25); border-radius:25px; }


section{ overflow:hidden; }
#city_wrap section:first-child{ padding-top:65px; }
.content-block{ max-width:1250px; position:relative; margin:0 auto; } 

.bg_wrap{ width:100%; top:0; left:0; z-index:-1; overflow:hidden; }
.bg{ position:relative; top:60px;  z-index:-1;  display:block; }
#city1_bg, #ready3_bg{ margin-left:0 !important; }


/************************************************************************** 
 *
 * Backgrounds - set Z-Index 
 *
 *************************************************************************/ 
#city1_bg{ z-index:-10; background:transparent no-repeat; }
#city2_bg{  z-index:-20; background:transparent no-repeat; }
#city3_bg{  z-index:-30; background:transparent no-repeat; }
#city4_bg{  z-index:-40; background:transparent no-repeat; }
#city5_bg{  z-index:-50; background:transparent no-repeat;  }
#city6_bg{  z-index:-60; background:transparent no-repeat;  }
#ready1_bg{ z-index:-70;  background:transparent no-repeat;  }
#ready2_bg{ z-index:-80;  background:transparent no-repeat;  }
#ready3_bg{ z-index:-85;  background:transparent no-repeat;  }
#ready4_bg{ z-index:-90;  background:transparent no-repeat;  }
#ready5_bg{ z-index:-100;  background:transparent no-repeat;  }
#ready6_bg{ z-index:-110;  background:transparent no-repeat;  }
#harborside1_bg{ z-index:-130;  background:transparent no-repeat;  }
#harborside2_bg{ z-index:-140;  background:transparent no-repeat;  }
#harborside3_bg{ z-index:-150;  background:transparent no-repeat;  }
#harborside4_bg{ z-index:-160;  background:transparent no-repeat;  }
#harborside5_bg{ z-index:-170;  background:transparent no-repeat;  }
#coast1_bg{ z-index:-180;  background:transparent no-repeat;  }
#coast0_bg{ z-index:-190;  background:transparent no-repeat;  }
#coast1a_bg{ z-index:-195;  background:transparent no-repeat;  }
#coast2_bg{ z-index:-200;  background:transparent no-repeat;  }
#coast3_bg{ z-index:-210;  background:transparent no-repeat;  }
#coast4_bg{ z-index:-220;  background:transparent no-repeat;  }



/************************************************************************** 
 *
 * Section Headers 
 *
 *************************************************************************/

.section-header{ background:rgba(255,255,255,0.9); width:360px; position:relative; margin:0; left:240px; z-index:10; }
.section-header h1{ 
    font-size:25px; line-height:50px; color:#111;  
    text-transform:uppercase; width:90%; margin-left:5%; padding-top:10px;
    font-family:'Semplicita Bold', 'Microsoft JhengHei', 'Georgia', sans-serif ; text-align:center; border-bottom:double rgba(0,0,0,0.4);
}
.section-header p{ font-size:14px; line-height:24px; color:#111; padding-bottom:20px; padding-top:5px; font-family:'Semplicita Medium', 'Microsoft JhengHei', sans-serif; width:90%; margin-left:5%;}
.section-header img{ width:90%; margin-left:5%;  }
h2.small-tagline{ line-height:20px; font-size:20px; margin:10px auto; color:#000; font-family:'ITC Lubalin Graph Medium', 'Microsoft JhengHei', Georgia, serif; text-align:center; text-transform:uppercase; padding-bottom:10px;}


/************************************************************************** 
 *
 * Accordion 
 *
 *************************************************************************/
.accordion{ background:#fff; width:360px; margin-top:20px; position:relative; left:240px; box-shadow:1px 0 5px rgba(0,0,0,0.35);  }
.accordion h3{ font-size:15px; line-height:20px; margin:0 3%; border-top:1px solid #bfc2c8; text-transform:uppercase; padding:3% 0; }
.accordion h3:first-child{ border-top:none; }
.accordion h3 a{ text-decoration:none; color:#574f4B; font-family:'Semplicita Bold', 'Microsoft JhengHei', sans-serif;}
.accordion div{ margin-top:-12px; position:relative; }
.accordion p{ color:#574f4b; text-transform:uppercase; margin:0 3%;}
.accordion p.shoe-stats{ font-family:'Semplicita Medium', 'Microsoft JhengHei', sans-serif; font-size:13px; }
.accordion p.price{ font-family:'Semplicita Bold', 'Microsoft JhengHei', sans-serif; font-size:13px; color:#C26408; }
.accordion img{ margin:3% auto; display:block;  }
.accordion img.lifestyle{ width:94%; }
.accordion img.product{ width:240px; }
.accordion div.social-wrap{ position:relative; height:40px; margin-top:0; margin-left:10px;  }
 

.accordion-icon-open, .accordion-icon-closed{background:url('images/accordion-plus-minus-sprite.png') no-repeat; display:block; height:15px; width:15px; float:right; cursor:pointer; margin-left:5px; margin-top:3px;}
.accordion-icon-closed{background-position:0 0;}
.accordion-icon-closed{background-position:0 -20px;}
.stButton .stLarge{ height:31px !important; }
.stButton .stLarge:hover{ background-position:initial !important; }
.stButton img{ display:none !important; }
.share_custom{ width:32px; height:32px; background-image:url('http://corp.timberland.com/global-support/timberberry/css/images/icon-sprite.png'); background-repeat: no-repeat; text-indent:40px; opacity:0.8; display:block; cursor:pointer; float:left; margin-left:8px;}
.share_custom:hover{ opacity: 1.0; }
.st_facebook_custom{ background-position:-39px 8px; background-color:#36609F;}
.st_twitter_custom{ background-position:8px 8px; background-color:#2CAAE1;}
.st_pinterest_custom{ background-position:-191px -23px; background-color: #CB2027;}
.st_tumblr_custom{ background-position:-140px 8px; background-color: #294057; }
.st_email_custom{ background-position:-192px -64px; background-color:#E4B255;}

/************************************************************************** 
 *
 * Other Content Blocks 
 *
 *************************************************************************/
img.cinemagraph{ width:340px; padding:10px; background:#fff; left:240px; display:block; position:relative; }
#easter-egg{ width:900px; padding:10px;  overflow:hidden; margin-bottom:75px; margin-left:auto; margin-right:auto; left:120px; }
#easter-egg .yt_wrap{ float:left; width:100%; }

#coast_wrap .bg_wrap:last-of-type{ overflow:hidden; }
#easter-egg #contact-info{ float:left; width:100%; }

/************************************************************************** 
 *
 * Download Page
 *
 *************************************************************************/

/************************************************************************** 
 *
 * TBL Global Edits 
 *
 *************************************************************************/
#treemsWrap #nav-wrap{ position:relative; margin:0 auto; max-width:1250px; }
#tblGlobalFooter{ margin-top:0;  }

#tblGlobalNav{ box-shadow:0 1px 8px 1px rgba(0,0,0,0.4);}


/************************************************************************** 
 *
 * Touch Devices 
 *
 *************************************************************************/



/************************************************************************** 
 *
 * Tablet and down 
 *
 *************************************************************************/
@media only screen
and (max-width: 1024px){
    img.cinemagraph, .accordion, .section-header{ left:0;  }
    section{ margin-left:0; }
    .bg{ top:45px; }
    .top-spacer img{ left:0; }
    .top-spacer img#masthead{ width:96%; margin:0 auto; max-width:750px;  }

.top-spacer #text-masthead{ text-align:center; width:90%; left:0; margin-left:5%; }
#text-masthead h1,#text-masthead h2, #text-masthead h3{ color:#fff; text-transform:uppercase; } 
#text-masthead h1{ font-size:50px; line-height: 80px; border-top:1px solid #fff; border-bottom: 1px solid #fff; }
#text-masthead h2{ font-size:20px; line-height:45px; border-bottom:1px solid #fff; font-family:'lubalin-stencil', 'Microsoft JhengHei', serif; letter-spacing:2px; }
#text-masthead h3{ font-size:17px; line-height:35px; border-bottom:1px solid #fff; }


    h1#tagline{ left:0; }
    #scroll-down-btn{ margin-left:-22px; }
    #loader{ margin-left:-45px; }
}

/************************************************************************** 
 *
 * Portrait Tablet
 *
 *************************************************************************/
@media only screen
and (max-width: 768px)
and (min-width: 481px){ 
    .bg{ margin-left:-300px; } 
    #easter-egg{ width:450px; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }

}

/************************************************************************** 
 *
 * Landscape phones and down 
 *
 *************************************************************************/
@media only screen
and (max-width: 480px){
    .bg{ box-shadow:none; }
    .accordion{ width:96%; margin-left:2%; left:0; }
    img.cinemagraph{ width:92%; margin-left:2%; padding:2%; }
    .accordion h3{ font-size:15px; line-height:20px; }
    #scroll-down-btn{ margin-top:10px; }
    h1#tagline{ font-size:16px; line-height:20px; } 
    #easter-egg{ width:450px; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }
    .section-header h1{ font-size:18px; }
}

/************************************************************************** 
 *
 * Portrait phones 
 *
 *************************************************************************/
@media only screen
and (max-width: 320px){
    .bg{ margin-left:-150px; }
    .section-header{ width:96%; margin-left:2%; }
    #easter-egg{ width:96%; margin-left:2%; padding:0; }
    #easter-egg .yt_wrap{ float:none; width:100%; }
    #easter-egg #contact-info{ float:none; width:100%; }

    #coast_wrap .bg_wrap:last-of-type{ overflow:visible; }

}
