/* ==========================================================================
   Colors
   ==========================================================================
Pale green: #639189
dark white bg: #e7e5d5
Gray text: #3a3f33
light gray text: #e7e5d4

*/
@font-face {
	font-family: "ITC Lubalin Graph Medium";
	src:url("fonts/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?#iefix");
	src:url("fonts/a2b62950-ad70-46e2-b2e9-e82ec9db5384.eot?#iefix") format("eot"),url("fonts/6e86dc78-6a2a-44b2-a48e-267dd190bc17.woff") format("woff"),url("fonts/61a5852b-4a70-4369-a205-815fa0dccca3.ttf") format("truetype"),url("fonts/5b1a4f6f-183e-4a2b-897c-02b9544ff090.svg#5b1a4f6f-183e-4a2b-897c-02b9544ff090") format("svg");
}
@font-face {
    font-family:"gothic";src:url("fonts/fontscom/08f81dde-07fe-4a13-b96b-de70ab913f0c.eot?#iefix");src:url("fonts/fontscom/08f81dde-07fe-4a13-b96b-de70ab913f0c.eot?#iefix") format("eot"),url("fonts/fontscom/f2ce3af9-0227-443e-ba37-0293d811f89b.woff") format("woff"),url("fonts/fontscom/490fb46a-54c6-486b-9dc8-4b6862162feb.ttf") format("truetype"),url("fonts/fontscom/27811e8b-0bca-46f2-8f73-bf56a19a5785.svg#27811e8b-0bca-46f2-8f73-bf56a19a5785") format("svg");
}

html, body, #wrapper, #left-nav{ height:100%; }
body{ background: #e7e5d4; }
#wrapper{ width:100%; max-width:1280px;  }
h1, h2, h3, h4, h5, h6, p, a{
 font-family:'gothic', sans-serif; 
 font-weight:normal; letter-spacing:1px; 
 color:#fff; text-transform:uppercase;
}

.gray-bg{ background-color:#E7E5D4; }
.lubalin{ font-family:'ITC Lubalin Graph Medium', serif; }
.gothic{ font-family:'gothic', sans-serif; letter-spacing: 1px; }

/* ==========================================================================
   LOADING SCREEN
   ========================================================================== */
/* hidden until images load */
#wrapper{ display:none; }
#status p{ color:#3a3f33; font-size:50px;text-align:center; }
#status{ height:60px; width:250px; position:absolute; left:50%; margin-left:-125px; top:250px; }
#percentage{ color:#639189; }


/* ==========================================================================
   Main
   ========================================================================== */
#main{}
.first-row{ position:relative; padding-top:100px; }



#main h1.logo{ 
    background:url('images/logo-black.png') no-repeat; 
    background-size: contain; width:77%;
    margin:50px auto 0;
}
#main #logo{ width:77%; margin:50px 11.5% 10px; }
#main h2{ 
    text-align:center; 
    font-size:25px; line-height:35px;
    
}
#main h3{ 
    font-family:'ITC Lubalin Graph Medium', serif; text-align:center; margin:8px 50px 20px; 
    font-size:16.5px; line-height:23px; letter-spacing:0; color:#000;
    text-transform:none;
}
#main h4{ font-size:26px; text-align:center; margin:3% 10%; line-height:36px; }
.blockquote{ background: #639189; }
#main img{ width:100%; }
.home #intro img{ width:90%; margin:5%; }


.boot-title .text-block{ display:table; height:100%;position:absolute; bottom:35px; left:35px;} 
.boot-title .text-block p{ display:table-cell; vertical-align:middle; text-align:left; }
/*.boot-title span.museo{ font-size:25px; line-height:20px; color:#e7e5d4;}
.boot-title span.gothic{ font-size: 50px; line-height:45px;  color:#e7e5d4; }*/
.boot-title span.small{ font-size:33px; line-height:30px; color:#e7e5d4; }
.boot-title span.large{ font-size: 70px; line-height:60px; color:#e7e5d4; }

#main img.icon-logo{ float:right;padding:5%; width:25%; padding-top:0; padding-left:0;  }
.bags #main img.icon-logo{ padding-top:5%; }
video{ margin:5% 0; }
/* ==========================================================================
   Bags & product detail
   ========================================================================== */ 

.bags .bag-info{ position:absolute; left:50%; top:33.3%; width:50%; }

.swatch-wrap{ float:right; width:20%; margin:4%; margin-top:2%; cursor:pointer; }
.product-detail .p-wrap{ float:right; width:70%; margin-top:1%; }
.product-detail:first-child .swatch-wrap{ margin-top:5%; }
.product-detail:first-child .p-wrap{ margin-top:4%; }

.bags #main img.swatch{ float:right;}
.bags #main img.resize-icon{ clear:right; float:right; display:block; width:25%; margin-top:7%; }

.product-detail p{ color:#689189; font-size: 20px;  }

.bags .product-detail p{ text-align:right; }

/* ==========================================================================
   Overlay
   ========================================================================== */ 
.overlay{ position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(20,20,20,0.95); display:none; z-index:1000; }

.overlay div.slide-wrap{ position:absolute; top:0; width:100%; height:100%;  }

.overlay div.slide{ position:relative; float:left; width:100%;  }
.overlay .slide img{ width:100%; position:absolute; top:0; border-right:2px solid rgba(20,20,20,0.95); border-left:2px solid rgba(20,20,20,0.95); }
.overlay .slide .product-detail{ width:100%; position:absolute; color:#e7e5d4; bottom:20px; right:20px; }
.overlay .slide .product-detail p{ color:#e7e5d4; text-align:right; } 

.overlay .close{ 
    position:fixed; top:0; right:0; 
    height:35px; width:35px; 
    display:block; 
    color:#e7e5d4;
    cursor:pointer; text-align:center; 
    line-height:31px;
    font-size:27px;
}



/* ==========================================================================
   Top Nav
   ========================================================================== */ 

#top-nav{ position:relative; }
#top-nav > .span4{ overflow:visible; }

#tbl-logo{ padding:2%; width: 48%; }
#logo-area{ position:relative; z-index:99; background:#dddbc9; overflow:auto; border-bottom:1px solid #7f7f7f; }
#logo-area h1{ float:left; width:75%; color:#3a3f33; line-height:70px; margin-left:20px; }
#logo-area div#nav-icon{ float:right; height:31px; width:31px; background:url('images/nav-icon.png') no-repeat; cursor:pointer; margin-right:2%; margin-top:1.5%; }
#nav-drop-down{ position:absolute; bottom:0; background:rgba(221,219,201,0.9); z-index:98; display:none; width:100%; }
#nav-drop-down a{ display:inline-block; color: #3a3f33; padding:0 5%; line-height:60px; font-size:34px; text-decoration:none; }
#nav-drop-down a:active{ background:#edebda; }

/* ==========================================================================
   Swipers
   ========================================================================== */ 

#main img.arrow, .overlay img.arrow{ position:absolute; width: 28px; height:28px; margin-top:-14px; top:50%; z-index:999; cursor:pointer; }
.arrow-left{ 
    left:2%; 
    -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform: rotate(180deg); 
}
.arrow-right{ right:2%; }

#main .swiper-slide img{   border-left:1px solid #689189;border-right:1px solid #689189;  }
.swiper-text{ 
    height:140px; width:94%;  padding:10px; border-left:1px solid #689189;  border-right:1px solid #689189;
    background:#e7e5d5;  text-align:right; 
}
.swiper-text p{ cursor:pointer; }

p.resize-icon{ background:url(../images/resize-icon.png) no-repeat; background-size:21px; display:block;height:21px; padding-bottom:2%; background-position:100% 0; }

.pagination{ position:absolute; top:0; }
.swiper-active-switch{ background:#e7e5d4 !important; }
.swiper-pagination-switch{ height:15px; width: 15px; border:2px solid #e7e5d4; border-radius:20px; float:left; cursor:pointer; margin:7px; margin:10px 8px; }
/* ==========================================================================
   Left Nav
   ========================================================================== */

#left-nav{ display:block; width:25%; position:fixed; top:0; left:0; background-color:#2D3029; }
#left-nav a, #left-nav p{ font-size:40px; }
#left-nav ul{ list-style:none; padding:0; display:block; }
#left-nav li{ list-style:none; border-bottom: 3px solid #fff; }
#left-nav li a{ 
    line-height:75px; 
    padding-left:40px;  
    color:#fff; text-decoration:none; 
    display:block;
}
#left-nav li a.active, #left-nav li a:hover, #left-nav li a:active{ background-color: #444;}

#left-nav p#heading{ 
    background-color:#639189; 
    height:160px; line-height:160px; 
    text-align:center; 
    position:fixed; bottom:0; left:0; width:25%;
}

/* ==========================================================================
   Intro
   ========================================================================== */

#intro h1{ text-align:right; font-size: 95px; line-height:90px; color:#639189; padding:5%; padding-top:0; padding-bottom:3%; margin-top:-3%; }
#intro h2{ text-align:right; color:#3a3f33; padding:5%; padding-left:10%; text-transform:none; font-size:30px; line-height:40px; padding-top:0;   }
.home #intro h2{ font-size:24px; line-height:36px; color:#639189; text-transform:uppercase;}

/* ==========================================================================
   
   ========================================================================== */
.side_text_box{ position:absolute;right:0; width:25%; top:10%; height:75%; background:#639189; text-align:right; font-size:25px; line-height:38px; padding:2.5%; letter-spacing:2px; color:#e7e5d4; }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
}


@media all and (orientation:portrait)
{
    #left-nav, #left-nav-placeholder{ display:none; }
    #main{ width:100%; margin-left:0; }
    /*.side_text_box{ font-size:22px; line-height:36px; }*/
    .boot-title .text-block{ bottom:20px; left:20px;} 
    .boot-title span.small{ font-size:22px; line-height:22px;} 
    .boot-title span.large{ font-size: 50px; line-height:50px;}

}

@media only screen and (min-width: 1140px) {
}


