  /* =============================================================================
    CONTEST COMMON STYLES   
  ========================================================================== */
#pro-contest .content, #pro-contest .sidebar{ display:none; }
#pro-contest *{ font-family: 'AvenirLTW0145BookRegular', sans-serif; }
#pro-contest p{ font-size:12px; line-height:16px; }
#pro-contest h1, #pro-contest h2, #pro-contest h3, #pro-contest h4{ font-family:'AvenirLTW0185HeavyRegular'; text-transform:uppercase; }
#pro-contest h1{ color:#fff; font-size:30px; line-height:30px; text-align:left; margin:24px; }
#pro-contest #subHeader h1{ margin-left:0; }

#pro-contest h2{ color:#fff; font-size:21px; line-height:20px; text-align:center;}
#pro-contest h3{ color:#fff; font-size:18px; line-height:18px; text-align:center; }
#pro-contest h4{ color:#fff; font-size:16px; line-height:28px; text-align:center; }
#pro-contest h5{ color:#fff; font-size:13px; line-height:18px; text-align:center; margin-bottom:16px; letter-spacing:1px; width:70%; margin-left:15%;  }
#pro-contest h1.black, #pro-contest h2.black{ color:#000;  text-shadow: 0 1px 0 #ff6b02;}
#pro-contest h4.orange{ color:#e67033; }
#pro-contest .btn{ width:165px; height:35px; line-height:35px; display:block; text-transform:uppercase; text-align:center; color:#fff; border-radius:2px; font-family:'AvenirLTW0185HeavyRegular'; margin:24px auto; border:0; }
#pro-contest a.btnOrange{ background: #e67033; }
#pro-contest a.btnOrange:hover{ background: #fd6f08; }
#pro-contest .btnBlack{ background: #111; }

#pro-contest a.btnBlack:hover{ background: #000; }
.wrapper{ width:960px; overflow:hidden; margin:8px auto 0; position:relative; clear:both; }
#contest-first-wrapper{ margin-top:-12px; }
.wrapper.orange_border{ min-height:350px;border:1px solid #e67033; border-radius:5px; margin-top:8px; 
    background-image: linear-gradient(bottom, #BE4E2F 11%, #F2683E 56%);
    background-image: -o-linear-gradient(bottom, #BE4E2F 11%, #F2683E 56%);
    background-image: -moz-linear-gradient(bottom, #BE4E2F 11%, #F2683E 56%);
    background-image: -webkit-linear-gradient(bottom, #BE4E2F 11%, #F2683E 56%);
    background-image: -ms-linear-gradient(bottom, #BE4E2F 11%, #F2683E 56%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #BE4E2F),
        color-stop(0.56, #F2683E)
    ); 

}

.content{ 
    clear:both; float:left; width:67%; margin-left:-1px;margin-right:-317px; border-right:317px solid #000;
}

#pro-contest .orange-bg{
    background: #d75a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #d75a00 0%, #bd3b00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d75a00), color-stop(100%,#bd3b00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d75a00 0%,#bd3b00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d75a00 0%,#bd3b00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d75a00 0%,#bd3b00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d75a00 0%,#bd3b00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d75a00', endColorstr='#bd3b00',GradientType=0 ); /* IE6-9 */ 
}
    
.sidebar{ 
    float:left; width:33%; margin-right:-1px;
    border-top-right:1px solid #e67033;
    border-bottom-right:1px solid #e67033;
    background:#000;
 }

  /* =============================================================================
    CONTEST BANNER NAV   
  ========================================================================== */

 nav#contest{ 
     width:100%; background:#000; clear:both; position:relative; top:10px; 
    border-top:1px solid #e67033; border-bottom:1px solid #e67033; height:100%;
}
 nav#contest .wrap{ float:left;width:312px; margin-top:16px; margin-right: 12px; position:relative; height:280px;  }
 nav#contest .wrap.no-right-margin{ margin-right:0; }
 nav#contest .wrap:last-child{  margin-right: 0;  }
 nav#contest h2{ color:#fff; text-transform:uppercase; text-align:center; margin-top:8px;}
 nav#contest p{ color:#e67033; line-height:14px; margin-top:6px; text-align:center; }

 nav#contest a.btn{ width:164px; margin-left:-82px; left:50%; position:absolute; bottom:0; }

  /* =============================================================================
    HOME   
  ========================================================================== */

#home{}
#contest_home_wrap{ background:url(images/contest_home_house.png) no-repeat center 20px; }
#home h2{ padding-top:165px; margin-bottom:12px; }

  /* =============================================================================
    FORM   
  ========================================================================== */

form#contest-form{ width:96%; margin-left:2%; overflow:hidden; }
form#contest-form input, form#contest-form textarea{ float:left; clear:left; width:46%; margin:1%; height:32px; line-height:28px; }
form#contest-form textarea#desktop-comments{ clear:none; float:right; height:132px; line-height:20px; }
form#contest-form textarea#mobile-comments{ clear:left; float:left; height:132px; line-height:20px; display:none; }
#form input#over18{ float:left;clear:both;width:12px; height:12px; margin-top:0; margin-right:12px; }
form#contest-form #over18_label{ float:left; width:100%; margin-top:12px; text-align:left; margin-left:50px; }
#form a.btn{ clear:both; margin-top:0; }
form#contest-form input.error{ background:rgba(255,0,0,0.7); }
form#contest-form input[type='checkbox'].error{ background:none; border:1px solid red; }
form#contest-form input#submit-button{ margin:12px auto; }
#pro-contest .btnBlack.disabled{ background:rgba(0,0,0,0.7); }

#ajax-cover{ display:none; position:absolute; top:170px; left:260px; }

#form h5.error-msg{ background-color:red; line-height:15px; display:none; padding:8px; }
/* file input */
form#contest-form input#file-upload-name{ width:68%; }
form#contest-form #file-upload-wrap{position:relative; width:27%;float:left;clear:none;margin:1% 0;padding:2px 0;top:-2px;}
form#contest-form input#actual-upload{position:absolute;z-index:2;opacity:0;width:100%; padding:2px 0;cursor:pointer; }
form#contest-form a.btn#upload-btn{ position:absolute;width:100%;cursor:pointer; margin: 1% 0; padding:2px 0; }

 label{ display:none; }

  /* =============================================================================
    THANKS   
  ========================================================================== */
#thanks h1{ text-align:center;}
#thanks h1:nth-of-type(1){  margin: 72px 0 40px;  }
#thanks h1:nth-of-type(2){  margin-bottom: 8px;  }
#thanks h5{ width:50%; margin-left:25%; margin-bottom:8px; }
#thanks h5:nth-of-type(1){ margin-top:8px; }
#thanks a.btn{ padding:0 12px; }

  /* =============================================================================
    SEE THE BOOT   
  ========================================================================== */
#see-the-boot{ width:100%; background:url(images/hyperionBg.jpg) no-repeat 0 0; background-size:cover; margin-left:0; border-radius:6px; position:relative; }
.boot_wrap{ float:left; width:70%; }
 img#big_boot{ position:relative; left:75px; top:30px; margin-bottom:70px; }
 .feature_wrap{ position:absolute; left:370px; top:135px; width:275px; display:none; }
 .icon_wrap{ float:right; width:19%; margin-right:1%; }
 .icon_wrap img{ margin:25px auto 5px; display:block; position:relative; }
 #see-the-boot h5{ width:100%; text-align:left; margin:0; }
#see-the-boot .icon_wrap h5{ font-size:11px; line-height:14px; }
#see-the-boot .icon_wrap h5 span{ font-weight:bold; }
#see-the-boot .feature_wrap h5{ color:#000; text-transform:uppercase; }
#see-the-boot .feature_wrap h5:first-child{ font-weight:bold; margin-bottom:0; }

 .feature_img{ display:none; position:absolute; }
 #toe.feature_img{ top:359px; left:400px; }
 #aft.feature_img{ top:382px; left:217px; }
 #backstay.feature_img{ top:251px; left:76px; }
 #hardware.feature_img{ top:151px; left:165px; }

.bullet{ cursor:pointer; box-shadow:1px 1px 5px rgba(0,0,0,0.45); }
.bullet, .radiation{ height:16px; position:absolute; width:16px; background:#ff511f; border-radius:16px; } 
.radiation{ width:14px; height:14px; background:transparent; border:1px solid #ff511f; }

#toe-radiation, #toe-bullet{ top:396px; left:437px; }
#backstay-radiation, #backstay-bullet{ top:288px; left:113px; }
#hardware-radiation, #hardware-bullet{ top:188px; left:202px; }
#aft-radiation, #aft-bullet{ top:429px; left:264px; }

#see-boot-mobile{ display:none; }
#see-boot-desktop{ display:block; }

/* =============================================================================
 * PHOTO GALLERY
 * ==============================================================================*/

#photo-gallery{}
#photo-gallery h1{ margin-bottom:10px; }

#photo-wrap{ min-height:300px; }

#photo-wrap img{ float:left; width:21%; margin:2%; }

#photo-gallery #arrow-wrap{ width:130px; margin:0 auto; display:none; }
#photo-gallery .arrow{ background:url('images/arrow-tabs.png') no-repeat; height:45px; width:65px; cursor:pointer; float:left; margin-bottom:30px; }
#photo-gallery .arrow:hover{ opacity:0.85; }
#photo-gallery #next-arrow{ background-position:top right; }
#photo-gallery #prev-arrow{ background-position:top left; clear:both; opacity:0.5; } 
/* =============================================================================
 * VIDEO GALLERY
 * ==============================================================================*/
#video-gallery{ width:100%;  }

#player {
    width: 100%;
    height: 440px;
    overflow: hidden;
    background: #000;
    border: solid 2px #000;
    margin-bottom:16px;
    position:relative;
}

.youtube .carousel {
    width: 24%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.youtube .thumbnail {
    margin: 4px;
    width: 95%;
    border: 1px solid black;  
    cursor:pointer;
}

.youtube iframe.player {
    width: 75%;
    height: 432px;  
    overflow: auto;
    border: 0;
    margin:4px; 
    position:relative;
}

  /* =============================================================================
   SIDEBARS   
  ========================================================================== */

#gallery-sidebar{  }
#gallery-sidebar h2{ color:#fff; margin:16px auto; text-align:center; }
#gallery-sidebar img{
    float:left; width:44%; margin-bottom:4%; margin-left:4%;
}
#gallery-sidebar a.btn{ margin-top:16px; }
#contest-sidebar h4{ line-height:21px; margin:16px 0; }
#contest-sidebar h5{ width:86%; margin-left:7%; }


  /* =============================================================================
    PRO Contest Banner   
  ========================================================================== */
.contest_banner a{ float:left; }
a.home-contest-banner:hover img, a.home-thirty-day-banner:hover img{ opacity:0.9; }

div.guarantee{ width:312px; height:145px;
}
	#pro-contest div.guarantee h1,  #thirty-day h1{font-family:'AvenirLTW0195BlackRegular',Helvetica,Arial,sans-serif;text-shadow:0 1px 0 #ff6b02;text-transform:uppercase;width:100%;font-size:65px;line-height:35px;margin:0; color:#000; text-align:center; padding-top:30px;}
	#pro-contest div.guarantee p, #thirty-day h2{text-align:center;font-size:21px;line-height:18px;margin:20px 8% 0;font-family:'AvenirLTW0185HeavyRegular',Helvetica,Arial,sans-serif;text-transform:uppercase;width:84%; color:#000; padding-bottom:5px; border-bottom:2px solid #000;}
/*lightbox*/
    #thirty-day img{ margin-top:20px; }
    #thirty-day { width:584px;height:400px; }
    #thirty-day h1{ margin-top:-135px;}
    #thirty-day h2{ border:0; }
    #thirty-day p{ color:#fff; width:80%; position:relative; margin:20px auto; line-height:20px; }

  /* =============================================================================
   RULES   
  ========================================================================== */ 
  #pro-contest #rules{ width:100%; }
  #pro-contest #rules ol, #pro-contest #rules ul, #pro-contest #rules p,  #pro-contest #rules h2{ width:90%; padding:10px 5%; }
  #pro-contest #rules h1{ font-size:30px; width:80%; padding: 10px 10%; margin:10px 0 0; }
  #pro-contest #rules ol{ list-style-type:decimal; display:block; }
  #pro-contest #rules ul{ list-style-type:disc; display:block; }
  #pro-contest #rules li{ display:list-item; margin-bottom:8px; clear:both; }
  #pro-contest #rules ul> li{ list-style-type:disc; }
  #pro-contest #rules ol> li{ list-style-type:decimal; }
  table, th, td{ border:1px solid #fff; padding:2px; }
  table{ margin:10px; }


  /* =============================================================================
    PULSE ANIMATION   
  ========================================================================== */
.animated{
    -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;
    -webkit-animation-duration:1.75s;-moz-animation-duration:1.75s;-ms-animation-duration:1.75s;-o-animation-duration:1.75s;animation-duration:1.75s;
    -webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite;}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
    25% { opacity:1; }
    100% {-webkit-transform: scale(2);  opacity: 0;  }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
    25% { opacity:1; }
    100% {-moz-transform: scale(2);  opacity: 0;  }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
    25% { opacity:1; }
    100% {-o-transform: scale(2);  opacity: 0;  }
}
@keyframes pulse {
    0% { transform: scale(1); }	
    25% { opacity:1; }
    100% {transform: scale(2);  opacity: 0;  }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
  /* =============================================================================
    TBL Global overrides   
  ========================================================================== */
  #treemsWrap{ max-width:100%; padding-bottom:85px; }
  #tblGlobalFooter{ left:0; }
  ul#tblGlobalPromos a{ top:4px; }
  a.countrySelector{ display:none; }
  body{ background: transparent !important; }



  /* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
/************************************************************************** 
 *
 * Landscape phones and down 
 *
 *************************************************************************/
@media only screen
and (max-width: 480px){
    /* override top nav*/
    #subHeader{ overflow:hidden; }
    #pro-contest #subHeader h1{ margin-top:0; }
    ul.navLeft, ul.navRight{ width:100%;margin:0; display:none; }
    ul.navLeft li, ul.navRight li{ width:46%; margin:2% 1%; }
    .wrapper{ width:96%; margin:2%; }
    .content, .sidebar, nav#contest .wrap{ width:100%;  }
    .content{ margin-right:0; border-right:0; }
   nav#contest img{ float:none; margin-left:auto; margin-right:auto; display:block; } 
   #pro-contest h4{ line-height:16px; }
   #pro-contest h5{ width:100%; margin-left:0;}

    #pro-contest h1{ margin:16px !important; }
    /* form */
    form#contest-form input, form#contest-form textarea{ width:98%; margin:1%; }
    form#contest-form textarea#comments{ clear:left; float:left; height:132px; line-height:20px; }
    form#contest-form input#upload{ width:100%; }
    form#contest-form a.btn#upload-btn{ width:165px; clear:left; margin: 1%; padding:0; }
    form#contest-form textarea#desktop-comments{ display:none; }
    form#contest-form textarea#mobile-comments{  display:block; }
    #ajax-cover{ top:300px; left:35%; }

    /* file input */
    form#contest-form input#file-upload-name{ width:100%; }
    form#contest-form #file-upload-wrap{position:relative; width:100%;float:left;clear:both; height:32px;}
    form#contest-form input#actual-upload{position:absolute;z-index:2;opacity:0;width:100%; padding:2px 0;cursor:pointer; }
    form#contest-form a.btn#upload-btn{ position:absolute;width:100%;cursor:pointer; margin: 1% 0; padding:2px 0; }

    #pro-contest h1#tblGlobalLogo{ margin:0 !important; }
    #tblGlobalNav ul.countrySelector{ display:none; }
    #tblGlobalNav li{ display:block; float:none; margin-left:0;  }

  /* SEE THE BOOT */
  #see-boot-mobile{ display:block; }
  #see-boot-desktop{ display:none; }

  .feature_img_mobile{ float:left; width:60px; margin:10px; clear:left;}
  .feature_wrap_mobile{ float:left; width:215px; margin:10px 0;} 
  #pro-contest .feature_wrap_mobile h5{ color:black; line-height:14px; font-size:12px; }
  #pro-contest .feature_wrap_mobile h5:nth-of-type(1){ text-transform:uppercase; font-weight:bold;}
  #big_boot_mobile{ width:98%; margin:1%; }

  .icon_wrap_mobile{ float:left; width:96%; margin:2%; }
 .icon_wrap_mobile img{ margin:25px auto 5px; display:block; position:relative; }
  #pro-contest .icon_wrap_mobile h5{ font-size:12px; line-height:14px; }
  #see-boot-mobile .icon_wrap_mobile h5{ text-align:center; }
  #see-boot-mobile .icon_wrap_mobile h5 > span{ font-weight:bold; }

  
  #photo-wrap img{ width:46%%; margin:2%; }

}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

